%h2 作成したレッスン一覧
- @lessons.each do |lesson|
  %p 
    #{l lesson.started_at}
    = link_to '削除', lesson_path(lesson), method: :delete 
= link_to 'レッスン作成', new_lesson_path if !admin_signed_in?
= paginate @lessons
